body {
  margin: 0;
  font-family: "Manjari";
}

header {
  background: #03a9f4;
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: "Manjari";
  padding-top: 20px;
}

header input {
  font-size: 20px;
  margin: 20px 0;
}

.news_item {
  padding: 25px;
  box-sizing: border-box;
  border-bottom: 1px solid purple;
}
